.sidenav {
  padding-left: 10px;
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(10,25,41);
  padding-top: 28px;
}
.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px
}
.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #B2BAC2;
  text-decoration: none;
  overflow: hidden;


}
.linkText {
  padding-left: 16px;
}

.sideitem:hover {
  background-color: #244f7d1c;

}
.active{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #B2BAC2;
  text-decoration: none;
  overflow: hidden;


  border-left: 2px solid #fff;
  color: #fff !important;
  /*font-size: 18px;*/
  /*line-height: 22px;*/
  /*font-weight: bold;*/
}
.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #B2BAC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}